@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<div id="dialog" class="dialog__content" title="THÔNG TIN nhân viên" style="display:none">
        <input fieldName="STT"  DataType="Number"  />
        <input fieldName="Name" required  />
        <input id="txtPrice" fieldName="Price" required DataType="Money"  />
        <input id="" type="date" fieldName="Date" DataType="Date"  />
        <button id="btn-cancel">Hủy</button>
        <button id="btn-save">Lưu</button>*@
    </div>
</div>
