@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="dialog" class="dialog__content" title="THÔNG TIN nhân viên" style="display:none">
        <input fieldName="ahiahi"  DataType="Number" onclick="this.select()" />
        <input fieldName="ahuhu" required />
        <input id="txtPrice" />
        <input id="" type="date" />
        <button id="btn-cancel">Hủy</button>
        <button id="btnsSave">Lưu</button>
    </div>
</div>
