@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="dialog" class="dialog__content" title="THÔNG TIN nhân viên" style="display:none">
        <input />
        <input />
        <input />
    </div>
</div>
