@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id="dialog" class="dialog__content" title="THÔNG TIN nhân viên" style="display:none">
        <input fieldName="ahiahi" required dataTyoe="number" />
        <input fieldName="ahuhu" required />
        <input />
        <button id="btn-cancel">Hủy</button>
        <button id="btnsSave">Lưu</button>
    </div>
</div>
