@{
    ViewData["ParentTitle"] = "Tài sản";
    ViewData["ChildTitle"] = "Tính hao mòn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Links{
    <link href="~/css/Form/depreciation.css" rel="stylesheet" />
    <link href="~/css/Form/asset.css" rel="stylesheet" />
}

<div class="tool-bar" id="tbGrdDepreciationAPI">
    <div class="filter-bar">
        <input id="txtsearch" class="input-search icon-search" type="text" placeholder="Tìm kiếm Số chứng từ" />
    </div>
    <div class="tool-bar-right">
        <div>
            <button class="button btn-add" CommandName="Add">Thêm</button>
        </div>
        <div>
            <button class="button btn-refresh" CommandName="Refresh" title="Làm mới">
                <div class="icon-refresh">

                </div>
            </button>
        </div>
        <div>
            <button class="button btn-remove" CommandName="Delete" title="Xóa">
                <div class="icon-remove ">
                </div>
            </button>
        </div>
    </div>
</div>
<div class="grid">
    <div class="grid-default">
        <table cellspacing="0" id="depreciation-grid-api" data-toolbar="#tbGrdDepreciationAPI">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="footer-layout">
    <div>
        Tổng số chứng từ: <span id="lbRefNo"></span>
    </div>
    <div class="footer-right">
        Tổng số tiền: <span id="lbAmountTotal"></span>
    </div>
</div>

<div id="dialog_depreciation_use_API" class="dialog-depreciation" title="Tính hao mòn">
    <div class="container-fluid">
        <div class="row dialog-header">
            <div class="col-8">
                Chứng từ tính hao mòn
            </div>
            <div class="col-4 header-toolbar">
                <button class="btn-help button">
                    <div class="icon-help">

                    </div>
                </button>
                <button class="btn-close button" id="btn-close">
                    <div class="icon-close">

                    </div>
                </button>
            </div>
        </div>
        <div class="row m-row-content">
            <div class="col col-12 content-items" style="display:flex">
                <div>
                    <div class="text-header">
                        Ngày tính hao mòn
                    </div>
                    <div>
                        <input id="TestDate" fieldName="PostedDate" class="input-date input-asset" placeholder="__/__/____" dataType="date" tabindex="1" required />
                        <div class="icon_PostDate"></div>
                    </div>
                </div>
                <div class="ml-4">
                    <div class="text-header  ">
                        Số chứng từ
                    </div>
                    <div>
                        <input fieldName="RefNo" class="input-text input-asset RefNo " maxlength="50" dataType="Text" tabindex="2" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-row-content">
            <div class=" col-12">

                <div>
                    Diễn giải
                </div>
                <div>
                    <textarea fieldName="JournalMemo" class="input-detail input-dictionary p-2" rows="2" dataType="Text" tabindex="3"></textarea>
                </div>

            </div>
        </div>
        <div class="row depreciation-header">
            <div class="col-8">
                Danh sách tài sản
            </div>
        </div>
        <div class="row m-row-content">
            <div class=" col-12" style="height:212px;overflow-y: auto">
                <table fieldName="RefDetail" id="depreciation-sub-grid" class="depreciation-sub-grid" dataType="JSON">
                    <thead>
                        <tr>
                            <th style="width:40px" class="text-alight-center" dataType="STT" title="Số thứ tự" fieldName="STT">STT</th>
                            <th style="width:89px" fieldName="FixedAssetCode">Mã tài sản</th>
                            <th style="width:125px" fieldName="FixedAssetName">Tên tài sản</th>
                            <th style="width:140px" fieldName="Cost" dataType="money" class="text-alight-right">Nguyên giá</th>
                            <th style="width:121px" fieldName="DepreciationRate" class="text-alight-right" dataType="percent" title="Tỉ lệ hao mòn năm">Tỉ lệ HM năm (%)</th>
                            <th style="width:120px" fieldName="Amount" dataType="money" class="text-alight-right">Số tiền</th>
                            <th style="width:40px" fieldName="Function_SubGrid" dataType="Function_SubGrid"></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row m-row-content">
            <div class=" col-12">
                <div style="display:flex; padding-top:10px">
                    <button class="button button-depreciation btn-add-row" tabindex="4">
                        <div class="button-depreciation-icon btn-add-row-icon"></div>
                        <div class="btn-content">Thêm dòng</div>
                    </button>
                    <button class="button button-depreciation btn-delete-all-row ml-4" tabindex="5">
                        <div class="button-depreciation-icon btn-delete-all-row-icon"></div>
                        <div class="btn-content">Xóa hết dòng</div>
                    </button>
                </div>
            </div>
        </div>
        <input fieldName="AmountTotal" dataType="Total" style="display: none" />
    </div>

    <div class="dialog-footer">
        <div class="footer-left">
            <button class="button btn-cancel" id="btn-cancel"tabindex="7">Hủy</button>
        </div>
        <div class="footer-right">
            <button id="btn-save" class="button btn-add" tabindex="6">Lưu</button>
        </div>
    </div>

</div>

<div id="DialogSubGridDetail" class="dialog-depreciation" title="Thêm tài sản">
    <div class="container-fluid">
        <div class="row dialog-header">
            <div class="col-8">
                Thêm tài sản
            </div>
            <div class="col-4">
                <button class="btn-help button">
                    <div class="icon-help">

                    </div>
                </button>
                <button class="btn-close button" id="btn-close">
                    <div class="icon-close">

                    </div>
                </button>
            </div>
        </div>
        <div class="row m-row-content">
            <div class="col-6 m-col-6-left">
                <div class="content-items">
                    <div class="text-header">
                        Mã tài sản
                    </div>
                    <div class="row ac-fixed-asset">
                        <div class="col-10 ac-input">
                            <input id="txtFixedAssetCode" fieldName="FixedAssetCode" class="input-text input-asset" maxlength="50" dataType="Text" required />
                        </div>
                        <div class="col-2 ac-button">
                            <button id="btnACInput"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 m-col-6-right">
                <div class="content-items">
                    <div class="text-header">
                        Tên tài sản
                    </div>
                    <div>
                        <input id="txtFixedAssetName" fieldName="FixedAssetName" class="input-text input-asset" maxlength="255" dataType="Text" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-row-content">
            <div class="col-6 m-col-6-left">
                <div class="content-items">
                    <div class="text-header">
                        Nguyên giá
                    </div>
                    <div>
                        <input fieldName="Cost" class="input-text input-asset input-right" maxlength="19" dataType="money" />
                    </div>
                </div>
            </div>
            <div class="col-6 m-col-6-right">
                <div class="content-items">
                    <div class="text-header">
                        Tỷ lệ hao mòn năm (%)
                    </div>
                    <div>
                        <input fieldName="DepreciationRate" class="input-text input-right input-asset" maxlength="3" dataType="Number" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-row-content">
            <div class="col-6 m-col-6-left">
                <div class="content-items">
                    <div class="text-header">
                        Giá tiền
                    </div>
                    <div>
                        <input fieldName="Amount" class="input-text input-asset input-right" maxlength="19" dataType="money" />
                    </div>
                </div>
            </div>
        </div>
        <input fieldName="FixedAssetId" style="display:none" />
    </div>
    <div class="dialog-footer">
        <div class="footer-left">
            <button class="button btn-cancel" id="btn-cancel">Hủy</button>
        </div>
        <div class="footer-right">
            <button id="btn-save" class="button btn-add">Lưu</button>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/Form/formSubGridDepreciation.js"></script>
    <script src="~/js/Form/depreciationUseAPIForm.js"></script>
    <script src="~/js/views/Depreciation/depreciationSubGrid.js"></script>
    <script src="~/js/views/Depreciation/depreciationUseAPI.js"></script>
}
