<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MISA.QLTSv2</title>
    <link href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/common/button.css" rel="stylesheet" />
    <link href="~/css/common/grid.css" rel="stylesheet" />
    <link href="~/css/common/icon.css" rel="stylesheet" />
    <link href="~/css/common/input.css" rel="stylesheet" />
    <link href="~/css/common/layout.css" rel="stylesheet" />
    <link href="~/css/common/toolbar.css" rel="stylesheet" />
</head>
<body>
    <header>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MISA.QLTSv2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     @*Script dùng chung*@ 
    <script src="~/js/Base/common.js"></script>
     @*Script validate, xử lý sự kiện của form*@ 
    <script src="~/js/Base/baseForm.js"></script>
     @*Script render dữ liệu vào bảng*@ 
    <script src="~/js/Base/grid.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
