.ui-dialog .ui-dialog-titlebar {
    display: none;
    border-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-left-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-right-radius: 0;
}

.input-text, .input-detail {
    width: 319px;
}

.dialog-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
}

    .dialog-footer .footer-left {
        position: absolute;
        left: 21px;
    }

    .dialog-footer .footer-right {
        position: absolute;
        right: 21px;
    }
.input-dictionary{
    width:100%;
}
/*.ui-combobox {
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;*/
    /* support: IE7 */
    /**height: 1.7em;
    *top: 0.1em;
}

.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}*/