.ui-dialog .ui-dialog-titlebar {
    display: none;
    border-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-left-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-right-radius: 0;
}

.input-text, .input-detail {
    width: 319px;
}

.dialog-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
}

    .dialog-footer .footer-left {
        position: absolute;
        left: 21px;
    }

    .dialog-footer .footer-right {
        position: absolute;
        right: 21px;
    }

.input-dictionary {
    width: 100%;
}

.ui-combobox {
    position: relative;
    display: inline-block;
}
    .ui-combobox > input {
        border: 1px solid #e0e0e0 !important;
         padding-left: 15px; 
    }
.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /* height: 1.7em; */
    /* top: 0.1em; */
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    color: #373737;
}

.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}

.ui-icon {
    background-image: url('/icon/svg/fi-rr-caret-down.svg') !important;
    background-size: contain !important;
    opacity: 0.5;
}

.ui-widget.ui-widget-content {
    height: 32px;
    background-color: #fff;
    /* z-index: 9999; */
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0 !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0 !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0 !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0 !important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0 !important;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0 !important;
}

.ui-menu-item, .ui-menu-item > a {
    display: block;
}


    .ui-menu-item:hover a {
        background-color: #fff !important;
    }

    .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
        background: #fff !important;
        border: solid 1px transparent;
        color: black;
    }

.ui-menu .ui-menu-item-wrapper {
    position: relative;
    padding: 3px 1em 3px .4em;
    background-color: #fff;
    padding-left: 15px;
}

/*a.ui-button:active, .ui-button:active {
    border: none !important;
    background: #fff !important;
}*/
