.m-background-image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.m-button-clear {
    outline: none;
    border: none;
    background-color: #fff;
}
.m-button-clear:focus{
    outline: none;
}

.display-none{
    display: none;
}
.border-red {
    border: 1px solid red !important;
}
.show-dialog {
    opacity: 1;
    visibility: visible;
}

.hide-dialog {
    opacity: 0;
    visibility: hidden;
}