
.grid {
    position: relative;
    height: calc(100vh - 164px)
}

    .grid .grid-default {
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: scroll;
        /*padding-right: 21px;*/
        padding-left: 21px;
    }


/****
    định dạng danh sách bảng
*/

table th, td {
    padding: 11px 16px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table thead tr{
    border-bottom: 1px solid #ff0000;
}

table {
    border-bottom: none;
    width: 100%;
}

    table th {
        position: sticky;
        top: 0;
        background-color: #ffffff;
        padding-top: 0;
        font-size: 12px;
        font-weight: 600;
    }

    table td {
        font-size: 13px;
        border-right: 1px solid #bbbbbb;
    }

        table td:last-child {
            border: none;
        }

    table tr {
        border-bottom: 1px solid #bbbbbb;
    }

        table tr:hover {
            background-color: #f0f8ff;
        }

.selected-row {
    background-color: #f0f8ff !important;
}

    .selected-row:hover {
        background-color: #f0f8ff !important;
    }
/*::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-thumb{
    background-color:#454545;
}*/


/*css cho context menu*/
.menu {
    background: #fff;
    width: 60px;
    padding: 3px 10px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, .3);
    border: 1px solid #ccc;
    display: none;
    position: absolute;
}

