input{
    outline: none !important;
}

.input-search {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    width: 299px;
    height: 32px;
    padding-left: 17px;
    padding-right: 9px;
    outline:none;
}

.input-text {
    height: 32px;
    min-width: 150px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    color: #373737;
    padding-left: 15px;
    font-size: 13px;
    text-align: justify;
    outline: none;
    font-family: Roboto-Regular !important;
}
.input-detail {
    min-height: 64px;
    min-width: 150px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding-left: 15px;
    font-size: 13px;
    color: #373737;
    text-align: justify;
    outline: none;
}
.input-date {
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 10px;
    height: 32px;
    min-width: 149px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    outline: none;
    font-family: Roboto-Regular !important;
}
.input-select {
    height: 32px;
    min-width: 150px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    padding-left: 10px;
    font-size: 13px;
    color: #373737;
    text-align: justify;
    outline: none;
    font-family: Roboto-Regular !important;
}


/* Always */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    margin-left: 10px;
}

.input-number {
    text-align: right;
    opacity: 1;
}