
@{
    ViewData["ParentTitle"] = "Tài sản";
    ViewData["ChildTitle"] = "Điều chuyển";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Links{
    <link href="~/css/Form/asset.css" rel="stylesheet" />
    <link href="~/css/Form/refTransfer.css" rel="stylesheet" />
}
<div class="tool-bar" id="tbGrdRefTransfer">
    <div class="filter-bar">
        <input id="txtsearch" class="input-search icon-search" type="text" placeholder="Tìm Kiếm" />
    </div>
    <div class="tool-bar-right">
        <div>
            <button class="button btn-add" CommandName="Add">Thêm</button>
        </div>
        <div>
            <button class="button btn-refresh" CommandName="Refresh" title="Làm mới">
                <div class="icon-refresh">

                </div>
            </button>
        </div>
        <div>
            <button class="button btn-remove" CommandName="Delete" title="Xóa">
                <div class="icon-remove ">
                </div>
            </button>
        </div>
    </div>
</div>
<div class="grid">
    <div class="grid-default">
        <table cellspacing="0" id="reftransfer-grid" data-toolbar="#tbGrdRefTransfer">
            <thead>

            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div id="dialog_reftransfer" class="dialog_reftransfer" title="Thêm chứng từ điều chuyển tài sản">
    <div class="container-fluid">
        <div class="row dialog-header">
            <div class="col-8">
                Thêm chứng từ điều chuyển tài sản
            </div>
            <div class="col-4 header-toolbar">
                <button class="btn-help button">
                    <div class="icon-help">

                    </div>
                </button>
                <button class="btn-close button" id="btn-close">
                    <div class="icon-close">

                    </div>
                </button>
            </div>
        </div>
        <div class="row m-row-content">
            <div class="col col-12 content-items" style="display:flex">
                <div>
                    <div class="text-header">
                        Ngày điều chuyển
                    </div>
                    <div>
                        <input fieldName="PostedDate" class="input-date input-asset" dataType="Date" required />
                        <div class="icon_PostDate"></div>
                    </div>
                </div>
                <div class="ml-4">
                    <div class="text-header">
                        Số chứng từ
                    </div>
                    <div>
                        <input fieldName="RefNo" class="input-text input-asset RefNo " maxlength="50" dataType="Text" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-row-content">
            <div class=" col-12">

                <div class="text-header">
                    Lý do điều chuyển
                </div>
                <div>
                    <textarea fieldName="JournalMemo" class="input-detail input-dictionary" rows="2" dataType="Text"></textarea>
                </div>

            </div>
        </div>
        <div class="row depreciation-header">
            <div class="col-8">
                Danh sách tài sản
            </div>
        </div>
        <div class="row m-row-content">
            <div class=" col-12" style="height:212px;overflow-y: auto">
                <table fieldName="RefDetail" id="depreciation-sub-grid" class="depreciation-sub-grid">
                    <thead>
                        <tr>
                            <th style="width:40px" class="text-alight-center" title="Số thứ tự">STT</th>
                            <th style="width:89px">Mã tài sản</th>
                            <th style="width:125px">Tên tài sản</th>
                            <th style="width:140px" class="text-alight-right">Nguyên giá</th>
                            <th style="width:121px" class="text-alight-right" title="Tỉ lệ hao mòn năm">Tỉ lệ HM năm (%)</th>
                            <th style="width:120px" class="text-alight-right">Số tiền</th>
                            <th style="width:40px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-alight-center">1</td>
                            <td><input fieldName="FixedAssetCode" type="text" class="input-depreciation-sub-grid" value="3333" /></td>
                            <td><input fieldName="FixedAssetName" type="text" class="input-depreciation-sub-grid" value="Ô tô" /></td>
                            <td>
                                <input fieldName="Cost" type="text" class="input-depreciation-sub-grid" dataType="Money" value="12345678" />
                            </td>
                            <td><input fieldName="DepreciationRate" type="text" dataType="Number" class="input-depreciation-sub-grid" value="10" /></td>
                            <td><input fieldName="AmountTotal" dataType="Money" type="text" class="input-depreciation-sub-grid" value="10" disabled /></td>
                            <td><button class="button btn-depr-delete hide" title="Xóa"><div class="icon-delete-row"></div></button></td>
                        </tr>
                        <tr>
                            <td class="text-alight-center">2</td>
                            <td fieldName="FixedAssetCode"><input type="text" class="input-depreciation-sub-grid" value="2222" /></td>
                            <td fieldName="FixedAssetName">Ô tô tải</td>
                            <td fieldName="Cost" class="text-alight-right" dataType="Money">567890</td>
                            <td fieldName="DepreciationRate" dataType="Number" class="text-alight-right">10</td>
                            <td fieldName="AmountTotal" class="text-alight-right" dataType="Money"></td>
                            <td><button class="button btn-depr-delete hide" title="Xóa"><div class="icon-delete-row"></div></button></td>
                        </tr>
                        <tr>
                            <td class="text-alight-center">3</td>
                            <td><input type="text" class="input-depreciation-sub-grid" value="" /></td>
                            <td></td>
                            <td class="text-alight-right" dataType="Money"></td>
                            <td class="text-alight-right" dataType="Number"></td>
                            <td class="text-alight-right" dataType="Money"></td>
                            <td><button class="button btn-depr-delete hide" title="Xóa"><div class="icon-delete-row"></div></button></td>
                        </tr>
                        <tr>
                            <td class="text-alight-center">4</td>
                            <td><input type="text" class="input-depreciation-sub-grid" /></td>
                            <td></td>
                            <td class="text-alight-right" dataType="Money"></td>
                            <td class="text-alight-right" dataType="Number"></td>
                            <td class="text-alight-right " dataType="Money"></td>
                            <td><button class="button btn-depr-delete hide" title="Xóa"><div class="icon-delete-row"></div></button></td>
                        </tr>
                        <tr>
                            <td class="text-alight-center">5</td>
                            <td><input type="text" class="input-depreciation-sub-grid" /></td>
                            <td></td>
                            <td class="text-alight-right" dataType="Money"></td>
                            <td class="text-alight-right" dataType="Number"></td>
                            <td class="text-alight-right" dataType="Money"></td>
                            <td><button class="button btn-depr-delete hide" title="Xóa"><div class="icon-delete-row"></div></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row m-row-content">
            <div class=" col-12">
                <div style="display:flex; padding-top:10px">
                    <button class="button button-depreciation btn-add-row">
                        <div class="button-depreciation-icon btn-add-row-icon"></div>
                        <div class="btn-content">Thêm dòng</div>
                    </button>
                    <button class="button button-depreciation btn-delete-all-row ml-4">
                        <div class="button-depreciation-icon btn-delete-all-row-icon"></div>
                        <div class="btn-content">Xóa hết dòng</div>
                    </button>
                </div>
            </div>
        </div>
        <input fieldName="RefTransferId" style="display:none" />
    </div>
    <div class="dialog-footer">
        <div class="footer-left">
            <button class="button btn-cancel" id="btn-cancel">Hủy</button>
        </div>
        <div class="footer-right">
            <button id="btn-save" class="button btn-add">Lưu</button>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/Form/reftransferForm.js"></script>
    <script src="~/js/views/Asset/refTransfer.js"></script>
}