@*

*@

<div class="body">
    <div class="menu">

    </div>
    <div class="header">

    </div>
    <div class="content">
        <div class="toolbar">
            <div class="filter-bar">
                <input id="txtsearch" class="input-search icon-search" type="text" placeholder="Tìm Kiếm" />
            </div>
            <div>
                <button class="btn-add">Thêm</button>
            </div>
            <div>
                <button class="button btn-add">Đồng ý</button>
            </div>
            <div>
                <button class="button btn-cancel">Hủy</button>
            </div>
            <div>
                <button class="btn-add-second">
                    <div class="icon-add">

                    </div>
                    <div class="btn-text">
                        Thêm dòng
                    </div>
                </button>
            </div>
            <div>
                <button class="btn-remove-second">
                    <div class="icon-remove-second">

                    </div>
                    <div class="btn-text">
                        Xóa hết dòng
                    </div>
                </button>
            </div>
            <div>
                <button class="btn-refresh">
                    <div class="icon-refresh">

                    </div>
                </button>
            </div>
            <div>
                <button class="btn-remove">
                    <div class="icon-remove ">
                    </div>
                </button>
            </div>
        </div>
        <div style="margin-top:20px;">
            <div>
                <input class="input-text" />
            </div>
        </div>
        <div style="margin-top:20px;">
            <div>
                <textarea class="input-detail"></textarea>
            </div>
        </div>
        <div style="margin-top:20px;">
            <div>
                <input type="date" class="input-date" />
            </div>
        </div>
    </div>
</div>