
@{
    ViewData["Title"] = "LayoutView";
    ViewData["ParentTitle"] = "Danh mục";
    ViewData["ChildTitle"] = "Loại tài sản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tool-bar" id="tbGrdFACategory">
    <div class="filter-bar">
        <input id="txtsearch" class="input-search icon-search" type="text" placeholder="Tìm Kiếm" />
    </div>
    <div class="tool-bar-right">
        <div class="test-tooltip"  >
            <button class="button btn-add" CommandName="Add">Thêm</button>
        </div>
        <div >
            <button class="button btn-refresh" CommandName="Refresh" title="Làm mới">
                <div class="icon-refresh">

                </div>
            </button>
        </div>
        <div >
            <button class="button btn-remove" CommandName="Delete" title="Xóa">
                <div class="icon-remove ">
                </div>
            </button>
        </div>
    </div>
</div>
<div class="grid">
    <div class="grid-default">
        <table cellspacing="0" 
               id="gridTest"
               data-toolbar="#tbGrdFACategory">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div id="dialog_dictionary" class="dialog_dictionary" style="display:block">
    <div class="container-fluid">
        <div class="row dialog-header">
            <div class="col-8">
                Loại tài sản
            </div>
            <div class="col-4 header-toolbar">
                <button class="btn-close button" id="btn-close">
                    <div class="icon-close">

                    </div>
                </button>
            </div>
        </div>
        <div class="row m-row-content">
            <div class="col-6 m-col-5">
                <div class="content-items">
                    <div class="text-header">
                        Mã loại tài sản (*)
                    </div>
                    <div>
                        <input class="input-text input-dictionary" fieldName="FixedAssetCategoryCode" required />
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="content-items">
                    <div class="text-header">
                        Tên loại tài sản (*)
                    </div>
                    <div>
                        <input class="input-text input-dictionary" fieldName="FixedAssetCategoryName" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-row-content">
            <div class="col-6 m-col-5">
                <div class="content-items">
                    <div class="text-header">
                        Thuộc loại
                    </div>
                    <div>
                        <input class="input-text input-dictionary" fieldName="ParentName"/>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="content-items">
                    <div class="text-header">
                        Nhóm tài sản
                    </div>
                    <div>
                        <input class="input-text input-dictionary" id="AssetGroup" fieldName="AssetGroupName"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-row-content">
            <div class="col-6 m-col-5">
                <div class="content-items">
                    <div class="text-header">
                        Tỷ lệ hao mòn (%)
                    </div>
                    <div>
                        <input class="input-text input-dictionary input-right" type="number" fieldName="DepreciationRate" />
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="content-items">
                    <div class="text-header">
                        Số năm sử dụng
                    </div>
                    <div>
                        <input class="input-text input-dictionary input-right" type="number" fieldName="LifeTime" dataType="Number" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-row-content">
            <div class="col-12">
                <div>Ghi chú</div>
                <textarea class="input-detail input-dictionary txt-area-facategory" fieldName="Description"></textarea>
            </div>
        </div>
        <input fieldName="FixedAssetCategoryId" style="display:none"/>
    </div>
    <div class="dialog-footer">
        <div class="footer-left">
            <button class="button btn-cancel" id="btn-cancel">Hủy</button>
        </div>
        <div class="footer-right">
            <button class="button btn-add" id="btn-save">Lưu</button>
        </div>
    </div>
</div>


@section scripts{

    <script src="~/js/Form/assetcategoryForm.js"></script>
    <script src="~/js/views/Dictionary/assetcategory.js"></script>
}



