@{
    ViewData["Title"] = "Departments";
    ViewData["ParentTitle"] = "Danh mục";
    ViewData["ChildTitle"] = "Danh sách phòng ban";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="tool-bar">
    <div class="filter-bar">
        <input id="txtsearch" class="input-search icon-search" type="text" placeholder="Tìm Kiếm" />
    </div>
    <div class="tool-bar-right">
        <div>
            <button class="button btn-add" id="btn-add-department">Thêm</button>
        </div>
        <div>
            <button class="button btn-refresh" title="Làm mới">
                <div class="icon-refresh">

                </div>
            </button>
        </div>
        <div>
            <button class="button btn-remove" title="Xóa">
                <div class="icon-remove ">
                </div>
            </button>
        </div>
    </div>
</div>
<div class="grid">
    <div class="grid-default v-grid-overflow">
        <table cellspacing="0" id="gridDepartment">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>
<div class="menu">
    <p>Option 1</p>
    <p>Option 2</p>
    <p>Option 2</p>
</div>

<div id="department_dialog" class="department_dialog" style="display:block">
    <div class="container-fluid">
        <div class="row">
            <div class="m-title col-12">
                <div>Thêm mới bộ phận sử dụng tài sản</div>
                <button class="v-cancel button" id="btn-close"></button>
            </div>
            <div class="top col-12">
                <div class="sub-content">
                    <div class="sub-title">Mã bộ phận (*)</div>
                    <input class="input-text" fieldName="DepartmentCode" required tabindex="1" />
                </div>
                <div class="sub-content">
                    <div class="sub-title">Tên bộ phận (*)</div>
                    <input class="input-text" fieldName="DepartmentName" required tabindex="2" />
                </div>
                <div class="sub-content">
                    <div class="sub-title">Trực thuộc (*)</div>
                    <select class="input-text" tabindex="3" id="cbxDepartment" style="width: 300px;">
                        @*<option value="phòng công nghệ thông tin">Phòng công nghệ thông tin</option>
                        <option value="phòng hành chính tổng hợp">Phòng hành chính tổng hợp</option>
                        <option value="phòng kế toán">Phòng kế toán</option>
                        <option value="phòng thanh tra">Phòng thanh tra</option>*@
                    </select>
                </div>
                <div class="sub-content">
                    <div class="sub-title">Ghi chú</div>
                    <textarea fieldName="Note" tabindex="4" rows="3"></textarea>
                </div>
            </div>
            <div class="bottom col-12">
                <button class="button btn-cancel" id="btn-cancel">Hủy</button>
                <button class="btn-add button" id="btn-save">Lưu</button>
            </div>
        </div>
    </div>
</div>

